ToDoAppServer/Todo.txt
ToDoAppServer/ToDoAppServer.iml
ToDoAppServer/.idea/
ToDoAppServer/target/
ToDoAppClient/Todo.txt
ToDoAppClient/ToDoAppClient.iml
ToDoAppClient/.idea/
ToDoAppClient/node_modules/
ToDoAppClient/dist/
ToDoAppClient/package-lock.json
ToDoAppClientContainer/.idea/
ToDoAppClientContainer/ToDoAppClientContainer.iml
